.patternLink {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  transition: background-color 0.2s ease;

  &:hover {
    background: #666;
  }
}
